<h1>Help Page</h1>

<p>
  Get help at the <a href="https://www.railstutorial.org/help">Rails Tutorial Help page</a>.
  Check out the sample app here: <a href="https://www.railstutorial.org/book"><em>Ruby on Rails Tutorial</em></a>.
</p>

<p>
  <a href="home">Home</a>
</p>